* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
}

.leftbox {
    height: 100vh;
    width: 35%;
    background-color: yellow;
    position: sticky;
    top: 0px;
}

.middlebox {
    height: 100vh;
    width: 35%;
    background-color: orange;
    position: relative;
    overflow-y: hidden;
}

.middlebox:hover {
    overflow-y: auto;
}

.rightbox {
    height: 100vh;
    width: 35%;
    background-color: red;
    position: sticky;
    top: 0px;
}