* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins-Regular.ttf);
}

/* Main Container  */


.main-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f7;
}

/* Boxes  */


.boxes {
    height: 650px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    font-family: arial;
}

/* Box 1 */


.box1 {
    height: 80%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text1 > p {
    height: 80px;
    width: 300px;
    font-size: 60px;
    font-weight: 600;
    font-family: Poppins;
    color: #0866ff;
}
.text2 > p {
    height: 80px;
    width: 600px;
    font-size: 25px;
    font-weight: 400;
    font-family: arial;
    color: #1c1e21;
}

/* Box 2 */


.box2 {
    height: 320px;
    width: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box2-container {
    height: 320px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2-container > input {
    height: 45px;
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.295);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 15px;
    outline: none;
    word-spacing: 3px;
    letter-spacing: 0.8px;
}
.box2-container > input:focus {
    border: 1px solid rgb(8, 102, 255);
    box-shadow: 0 0 5px rgba(8, 102, 255, 0.5);
}
.loginbutton {
    height: 45px;
    width: 90%;
    background-color: #0866ff;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}
.box2-container > .box2txt {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    color: #0866ff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #dadde1;
}
.box2-container > .box2txt > p {
    height: fit-content;
    width: fit-content;
    text-decoration: underline;
    cursor: pointer;
}
.createbutton {
    height: 40px;
    width: 45%;
    background-color: #42b72a;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: none;
}



/* Footer  */


footer {
    height: 160px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: Poppins;
}
.footer-container {
    height: 160px;
    width: 70%;
    font-size: 12px;
}
.footer-container a , .copyright  {
    color: #8a8d91;
    text-decoration: none;
}
.lang {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8a8d9156;
    display: flex;
    gap: 10px;
}
.lang a:hover {
    text-decoration: underline;
}
.footer-button {
    height: 19px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #f5f6f7;
    border: 1px solid #8a8d9180;
    border-radius: 2px;
}
.footer-button a {
    color: #676768;
}
.footerpage {
    padding-bottom: 10px;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.footerpage a:hover {
    text-decoration: underline;
}
.copyright {
    font-weight: 600;
    font-size: 11px;
    padding-bottom: 10px;
}



/* Media Queries */


@media only screen and (max-width: 1030px) {
    .main-container {
        width: 100%;
    }
    .boxes {
        height: 700px;
        width: fit-content;
    }
    .box1 {
        width: 500px;
        margin-left: 100px;
    }
    .box2 {
        width: fit-content;
        margin-right: 100px;
    }
}
@media only screen and (max-width: 770px) {
    .main-container {
        width: 100%;
    }
    .boxes {
        height: 500px;
        width: fit-content;
    }
    .box1 {
        width:  fit-content;
    }
    .box1 .text2 {
        display: none;
    }
}
@media only screen and (max-width: 430px) {
    .main-container {
        width: 100%;
    }
    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .box1 {
        height: fit-content;
        width: fit-content;
    }
    .box1 p , .text1 {
        width: fit-content;
        margin-right: 50px;
    }
    .box2 {
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    .box2-container {
        width: 350px;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    .lang {
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 380px) {
    .main-container {
        width: 100%;
    }
    .box2 {
        margin-bottom: 50px;
    }
    .box2-container {
        width: 300px;
    }
    .createbutton {
        height: 45px;
        text-align: center;
    }
}
@media only screen and (max-width: 330px) {
    .main-container {
        width: 100%;
    }
    .text1 p {
        height: 50px;
        width: 150px;
        font-size: 40px;
        margin-right: 90px;
    }
    .box2-container {
        width: 250px;
        margin-bottom: 50px;
    }
}